*.pyc
*.pyd
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old

documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.i
*.d
*.dbgdt
*.crun
*.bat
*.ps1
*.scl
*.dnx
*.regroups
*.wsdt
tools/kconfig-frontends/kconfig-mconf
packages
cconfig.h
GPUCache
*.vs/
*bin/
*obj/
#cscope files
cscope.*
ncscope.*
